<template>


    <div>
        <router-view></router-view>
    </div>

</template>

<script>
import showBlogs from './Books.vue';
import listBlogs from './showBook.vue';
    export default {

        data() {
            return {
 
                listOfBooks: [],
                listOfGenres: [],
                listOfAuthors: [],
            }
        },

        methods: {
            greeting: function () {
                return 'hey cowboy))';
            },
            onClickGenre: function (genre) {
                var genre_id = this.$refs[genre][0].dataset.genreId;

                this.getBooksByGenre(genre_id);

            },
            
            onClickAuthor: function (author) {
            var author_id = this.$refs[author][0].dataset.authorId;
            this.getBooksByAuthor(author_id);
           
        },

            getBooksByGenre: function (id) {

                this.$http.get('http://book.test/site/getBookByGenreId/' + id)
                        .then(function (response) {
                            this.listOfBooks = response.body;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });


            },
            
                 getBooksByAuthor: function (id) {

            this.$http.get('http://book.test/site/getBookByAuthorId/' + id)
                    .then(function (response) {
                        this.listOfBooks = response.body;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });


        }

        },
        created() {
            this.$http.get('http://book.test/site/getBooks')
                    .then(function (response) {
                        this.listOfBooks = response.body;
                        console.log(response);// response.body;

                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            this.$http.get('http://book.test/site/getGenres')
                    .then(function (response) {
                        this.listOfGenres = response.body;


                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            this.$http.get('http://book.test/site/getAuthors')
                    .then(function (response) {
                        this.listOfAuthors = response.body;


                    })
                    .catch(function (error) {
                        console.log(error);
                    });
        }

    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
