<template>
    <div id="books">
        <div class="header">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <div class="logo">
                        <h1><a>Book katalog</a></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="sidebar content-box" style="display: block;">
                            <div id="genres">
                                <ul class="nav">
                                    <li class="current"><a href="http://backend.test"><i class="glyphicon glyphicon-home"></i> Admin</a></li>
                                    <li class="submenu open">
                                        <a href><i class="glyphicon glyphicon-calendar"></i> Genres</a>
                                        <ul class="nav ">
                                            <li   v-for="(item, i) in listOfGenres"   >
                                                <a v-bind:data-genre-id="item.id" v-on:click="onClickGenre('genre'+i)"  v-bind:ref="'genre'+i" >{{ item.title }}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul> 
                            </div>
                            <div id="genres">
                                <ul class="nav">
                                    <li class="submenu open">
                                        <a href><i class="glyphicon glyphicon-calendar"></i> Authors</a>
                                        <ul class="nav ">
                                            <li   v-for="(item, i) in listOfAuthors"   >
                                                <a v-bind:data-author-id="item.id" v-on:click="onClickAuthor('author'+i)"  v-bind:ref="'author'+i" >{{ item.title }}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div id="book-app">
                            <div id="books">
                                <h1>All Books</h1>
                                <div class="row">
                                    <div class="col-md-4" v-for="item in listOfBooks">
                                        <div class="block_book">
                                            <div class="row">
                                                <div class="col-md-12 img_book">	
                                                    <a href="/site/view/">
                                                        <img class="img-responsive" src="http://placehold.it/250x350" alt=""/>
                                                    </a>
                                                </div>
                                                <div class="col-md-12">	
                                                    <h2><a v-bind:href="'/show/' +item.id">{{ item.title }}</a></h2>                                                                        
                                                    <p>{{ item.description }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-left">
                                                    <h5><b>Price:</b> <span class="">${{ item.price }}</span></h5>
                                                </div>
                                                <div class="col-md-12 text-left">
                                                    <h5><b>Jenres:</b> <span class="">{{ item.genre_name }}</span></h5>
                                                </div>
                                                <div class="col-md-12 text-left">
                                                    <h5><b>Authors:</b> <span class="">{{ item.author_name }}</span></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    export default {

        data() {
            return {

                listOfBooks: [],
                listOfGenres: [],
                listOfAuthors: [],
            }
        },

        methods: {

            onClickGenre: function (genre) {
                
                var genre_id = this.$refs[genre][0].dataset.genreId;

                this.getBooksByGenre(genre_id);

            },

            onClickAuthor: function (author) {
                
                var author_id = this.$refs[author][0].dataset.authorId;
                
                this.getBooksByAuthor(author_id);

            },

            getBooksByGenre: function (id) {

                this.$http.get('http://book.test/site/getBookByGenreId/' + id)
                        .then(function (response) {
                            this.listOfBooks = response.body;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });


            },

            getBooksByAuthor: function (id) {

                this.$http.get('http://book.test/site/getBookByAuthorId/' + id)
                        .then(function (response) {
                            this.listOfBooks = response.body;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });


            }

        },
        created() {
            this.$http.get('http://book.test/site/getBooks')
                    .then(function (response) {
                        this.listOfBooks = response.body;

                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            this.$http.get('http://book.test/site/getGenres')
                    .then(function (response) {
                        this.listOfGenres = response.body;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            this.$http.get('http://book.test/site/getAuthors')
                    .then(function (response) {
                        this.listOfAuthors = response.body;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
        }

    }
</script>

<style>

</style>
