<template>
    <div id="bookShow">
        <a class="back_to_book" href="/"> back to books</a>
            <div class="container">    
                <div class="row">
                    <div class="col-md-12">				
                        <div class="row">	
                            <div class="col-md-4">	
                                <img class="img-responsive" src="http://placehold.it/350x550" alt=""/>
                            </div>
                            <div class="col-md-8">
                                 <div class="block_book">
                                    <h2> {{book.title}}</h2>
                                    <p>{{book.description}}</p>
                                    <h5><b>Jenres:</b> <span class="">{{book.genre_name}}</span></h5>
                                    <h5><b>Authors:</b> <span class="">{{book.author_name}}</span></h5>
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-left price">
                                <h5><b>Price:</b> <span class="">${{book.price}}</span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <div class="content-box-large">
                            <div class="panel-heading">
                                <div class="panel-title">Order the book</div>
                            </div>
                            {{this.success }}
                            <p v-if="errors.length">
                                <b>Please correct the following error(s):</b>
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                            </p>
                            <div class="panel-body">
                                <form class="form-horizontal" action="/site/order/<?= $data['books']['id'] ?>" role="form" method="post">
                                    <div class="form-group">
                                        <label for="name_order" class="col-sm-3 control-label">Name</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" v-model.lazy="order.name" required  id="name_order" placeholder="Frank">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-12">
                                            <input type="email" v-model.lazy="order.email" required  class="form-control" id="inputEmail3" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address" class="col-sm-3 control-label">Address</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" v-model.lazy="order.address" required name="address" id="address" placeholder="Londond etc.">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-sm-3 control-label">Phone</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" v-model.lazy="order.phone" required  id="phone" placeholder="380505050555">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="copies" class="col-sm-3 control-label">Number of books</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" v-model.lazy="order.copies"  id="copies" placeholder="3">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-12">
                                            <button  v-on:click.prevent='sendOrder()' class="btn btn-primary">Order</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>

    export default {

        data() {
            return {
                book: [],
                order: {
                    name: "",
                    email: "",
                    address: "",
                    phone: "",
                    copies: ""

                },
                blog: {
                    title: '',
                    content: '',
                    categories: [],
                    author: ''
                },
                
                errors: '',
                success: ''
            }
        },

        methods: {
            sendOrder: function () {
                this.checkForm();
            },

            checkForm: function (e) {
                this.errors = [];
                if (!this.order.name)
                    
                    this.errors.push("Name required.");

                if (!this.order.copies)
                    
                    this.errors.push("Numbers of book required.");

                if (!this.order.address)
                    
                    this.errors.push("Address required.");

                if (!this.order.phone) {
                    
                    this.errors.push("Phone required.");
                    
                } 
                else if (this.order.phone.length != 12)
                {
                    this.errors.push("Enter correct phone, for example: 380951234567");
                }


                if (!this.order.email) {
                    
                    this.errors.push("Email required.");

                } else if (!this.validEmail(this.order.email)) {
                    
                    this.errors.push("Valid email required.");
                }
                if (!this.errors.length)
                    this.$http.post("http://book.test/site/order/" + this.$route.params.id, {
                        
                        name: this.order.name,
                        email: this.order.email,
                        address: this.order.address,
                        phone: this.order.phone,
                        copies: this.order.copies,

                    }, 
                    {
                        emulateJSON: true
                    }

                    ).then(function (response) {
                        this.success = response.body;
                    });
                return true;
                
            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }


        },

        created() {

            this.$http.get('http://book.test/site/getBookById/' + this.$route.params.id)
                    .then(function (response) {

                        this.book = response.body;
                       

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
        }

    }
</script>

<style>

</style>

